<h2>Register</h2>

<form #registrationForm="ngForm">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control"
      id="firstName" name="firstName" [(ngModel)]="registrationViewModel.firstName" placeholder="Enter first name"
      required />

      <div *ngIf="true" class="alert alert-danger">
        First name is required.
      </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control"
      id="lastName" name="lastName" [(ngModel)]="registrationViewModel.lastName"  placeholder="Enter last name"
      required />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" class="form-control"
      id="email" name="email" [(ngModel)]="registrationViewModel.email" placeholder="Enter email" required
    />
  </div>
  <div class="form-group">
    <label for="biography">Biography</label>
    <textarea class="form-control"  [(ngModel)]="registrationViewModel.biography" name="biography"  rows="5" placeholder="Enter biography"
      required></textarea>
  </div>
  <div class="form-group">
    <label for="dob">DOB</label>
    <input type="date" class="form-control"  id="dob" name="dob" [(ngModel)]="registrationViewModel.dob" placeholder="Enter DOB"
      required />
  </div>
  <div class="form-group">
    <label for="teamId">Team</label>
    <select id="teamId" class="form-control"class="form-control" name="teamId" [(ngModel)]="registrationViewModel.teamId" required>
        <option>Please Select...</option>
        <option *ngFor="let team of teamLookupList" [value]="team.Id">{{team.Name}}</option>
      </select>
  </div>
  <div class="form-group">
    <label for="heightInFeet">Height</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2 form-group">
        <input type="number" class="form-control" name="heightInFeet" [(ngModel)]="registrationViewModel.heightInFeet" class="form-control"
          required placeholder="Enter in feet">
      </div>
      <div class="col-xs-1 height-label">
        feet
      </div>
      <div class="col-xs-4 col-sm-2 form-group">
        <input type="number" class="form-control" name="heightInInches" [(ngModel)]="registrationViewModel.heightInInches" class="form-control"
          required placeholder="Enter in inches">
      </div>
      <div class="col-xs-1 height-label">
        inches
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <input type="number" class="form-control" class="form-control" id="weight" name="weight" [(ngModel)]="registrationViewModel.weight" required placeholder="Enter in pounds">
      </div>
      <div class="col-xs-1 weight-label">
        pounds
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="pointGuard">Position</label>
    <div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="pointGuard" name="position" value="PointGuard"  [(ngModel)]="registrationViewModel.position"  />
          Point Guard
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="position" id="pointGuard" value="PointGuard"  [(ngModel)]="registrationViewModel.position" />
          Shooting Guard
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="position" id="smallForward" value="SmallForward"  [(ngModel)]="registrationViewModel.position" />
          Small Forward
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="position" id="powerForward" value="PowerFoward"  [(ngModel)]="registrationViewModel.position" />
        Power Forward
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="position" id="center" value="Center"  [(ngModel)]="registrationViewModel.position" />
          Center
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="brokenFoot">Past Injuries</label>
      <div>

        <label *ngFor="let injury of injuryLookupList; let i = index;" class="form-check-inline">
          <input type="checkbox" class="form-check-input" [name]="injuryFieldList[i]" [id]="injuryFieldList[i]" [value]="injury" (change)="addOrRemoveInjury($event.target.value)" />
          {{injury}}
        </label>

      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" class="form-control" id="password" name="password" [(ngModel)]="registrationViewModel.password" required
        placeholder="Enter password" />
    </div>
    <button type="button" class="btn btn-default btn-primary" [disabled]="registrationForm.invalid">Submit</button>
  </div>

</form>
